.pinInput {
  outline: none;
  outline-offset: 0;
  border: none;
}

.input {
  outline: none;
  outline-offset: 0;
  border: none;
  border-bottom: 1px solid #000; /* Adjust color and thickness as needed */
  border-radius: 0;

  color: #005DA0;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.96px;
}

.errorInput{
  outline: none;
  outline-offset: 0;
  border: none;
  border-bottom: 1px solid #000; /* Adjust color and thickness as needed */
  border-radius: 0;

  color: #F00;
  /* font-family: Montserrat; */
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.96px;
}
